# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*
.venv/
venv/
ENV/
env/

# OS-related files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/

# Streamlit cache
.streamlit/
